*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto";
}

::-webkit-input-placeholder {
  color: #d4d7dc;
}

#admin-sidebar--active{
  background-color: #d23f57;
  color : #fff;
}